.app-wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr;
    grid-gap: 5px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.app-wrapper-content {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #5F4A80;
    border-radius: 10px;
    overflow: hidden;
}

